<% flash.each do |name, msg| %>
    <div class='container-fluid' style='color: red'>
    <br/>
      <%= content_tag :div, msg, :id => "flash_#{name}",  :class => "alert alert-#{name}" %>
     </div>
<% end %>

<h1>New Comment</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
