<%= form_with(url: checkout_create_path) do |form| %>

  <div class="field">
    <%= form.label :coupon_name %>
    <br>
    <%= form.text_field :coupon_name %>
  </div>

  <div class="actions">
    <%= form.submit "checkout" %>
  </div>
<% end %>
